body,div,ul,li,span,p{
    margin:0;
    padding:0;
    list-style: none;
}
/* tab切换时，处于焦点状态的标签 */
.on_active{
    background-color: #80BD01;
    color: #ffffff!important;
    padding: 2px 5px;
    border-radius: 4px;
}


/*                             */
#container{
    font-size: 62.5%;
    height: 228em;
    background-color: #e1e1e1;
}
#navbar{
    width: 100%;
    height: 5em;
    background-color: #444444;
}

#navbar.nav{
    font-size: 2em;
}
#navbar img{
    display: inline-block;
    margin: 8px 0 0 76px;
    width: 120px;
}
#navbar .search{
    position: relative;
    top:-6px;
    height: 24px;
    width: 18em;
    display: inline-block;
    outline:none;
    margin:0 0 0 20px;
    padding:0 0 0 10px;
    border-left:1px solid transparent;
    border-radius: 20px;
    background-color: #666;
}

#sidebar{
    float: right;
    width: 300px;
    height: 1000px;
    margin: 20px 80px 0 0;
}
.panel1{
    float: right;
    width: 300px;
    height: 140px;
    background-color: #ffffff;
}
.panel1 .inner p{
    background-color: #cccccc;
    font-size: 16px;
    margin: 10px 66px 0 10px;
}
.panel1 .inner div{
    margin:0 0 0 10px;
    font-size: 14px;
}
.panel1 .inner .button{
    background-color: skyblue;
    margin: 0 150px 0 0;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 6px;
    color: white;
    padding: 10px 0;
}

.panel2{
    float: right;
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    margin: 20px 0 0 0 ;
}
.panel2 .header{
    height: 40px;
    background-color: #f6f6f6;
}
.panel2 .header p{
    font-size: 14px;
    line-height: 40px;
    padding:0 0 0 10px;
}
.panel2 .inner li{
    padding:0 0 0 10px;
    width: 100%;
    height: 30px;
}
.panel2 .inner a {
    color:#778087;
}

.panel3{
    float: right;
    width: 300px;
    height: 380px;
    background-color: #ffffff;
    margin: 20px 0 0 0 ;
}
.panel3 .header p{
    background-color: #f6f6f6;
    line-height: 40px;
    padding:0 0 0 10px;
}
.panel3 .header p a{
    color:#778087;
    padding:0 0 0 30px;
}
.panel3 .inner li{
    padding:0 0 0 10px;
    width: 100%;
    height: 30px;
    color:#778087;
}
.panel3 .inner li a{
    color:#778087;
    padding:0 0 0 30px;
}

.panel4{
    float: right;
    width: 300px;
    height: 220px;
    background-color: #ffffff;
    margin: 20px 0 0 0 ;
}
.panel4 .header p{
    background-color: #f6f6f6;
    line-height: 40px;
    padding:0 0 0 10px;
}
.panel4 .inner li{
    padding:0 0 0 10px;
}
.panel4 img{
    width: 150px;
    width: 150px;
}

.panel5{
    float: right;
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    margin: 20px 0 0 0 ;
}
.panel5 .header p{
    background-color: #f6f6f6;
    line-height: 40px;
    padding:0 0 0 10px;
}
.panel5 .inner img{
    display: block;
    padding:10px 0 0 50px;
}
.panel5 .inner a{
    display: block;
    text-align: center;
}


#content{
    float: left;
    height: 2000px;
    width: 1060px;
    background-color: #fff;
    margin:20px 10px 0 60px;
}
#content .header{
    height: 40px;
    width: 100%;
    background-color: #f6f6f6;
}
#content .header li{
    float: left;
}
#content .header li a{
    line-height: 40px;
    margin: 0 0 0 30px;
    font-size: 14px;
    color:#80bd01;
}
#content .header li a:hover{
    color:#08c;
}
#content .topic_list .cell{
    width: 1060px;
    height: 50px;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
}
#content .topic_list .cell .user_img{
    position: absolute;
    top: 10px;
    left:20px;
    display: inline-block;
    height: 30px;
}
#content .topic_list .cell .user_img img{
    width: 30px;
    height: 30px;
}
#content .topic_list .cell .count{
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 60px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}
#content .topic_list .cell .count .reply{
    font-size: 14px;
    color: #9E78C0;
}
#content .topic_list .cell .count .visited{
    font-size: 12px;
    color: #B4B4B4;
}
#content .topic_list .cell .classify{
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 120px;
    width: 32px;
    height: 18px;
    text-align: center;
    background-color: #80bd01;
    color: #ffffff;
    border-radius: 4px;
    margin: 0 4px 0 0;
    padding: 2px 4px;
}
#content .topic_list .cell .title{
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 170px;
    height: 32px;
    width: 700px;
    line-height: 32px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #000000;
}
#content .topic_list .cell .float_right{
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 50px;
    top:0;
    right:0;
}
#content .topic_list .cell .float_right img{
    display: inline-block;
    position: absolute;
    top: 4px;
    right: 60px;
    width: 18px;
    height: 18px;
}
#content .topic_list .cell .reply_time{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 10px;
    color: #778087;
}


#footer{
    width: 100%;
    height: 200px;
    background-color: #fff;
    float: left;
    margin: 20px 0 0 0;
}
#footer .main{
    width: 90%;
    height: 100%;
    margin:0 auto;
}
#footer .main a{
    font-size: 12px;
    color: #666666;
}
#footer .main p{
    font-size: 14px;
    color: #ABABAB;
}
#footer .main .spe{
    color: #0088CC;
}
#footer .main .img1{
    width:92px;
}
#footer .main .img2{
    width:115px;
}